<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="//unpkg.com/@atlassian/aui@7.8.3/dist/aui/css/aui.min.css" />
    <link rel="stylesheet" type="text/css" href="//unpkg.com/@atlassian/aui@7.8.3/dist/aui/css/aui-experimental.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet" />
    <script
      src="https://browser.sentry-cdn.com/5.6.3/bundle.min.js"
      integrity="sha384-/Cqa/8kaWn7emdqIBLk3AkFMAHBk0LObErtMhO+hr52CntkaurEnihPmqYj3uJho"
      crossorigin="anonymous"
    >
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://connect-cdn.atl-paas.net/all.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/egeriis/zipcelx/lib/standalone.js"></script>
    <script src="https://connect-cdn.atl-paas.net/all.js" data-options="resize:true; sizeToParent:true"></script>
  </head>
  <body class="aui-page-hybrid our-body" style="overflow-y:hidden; background-color: #FFFFFF;">
    {{{body}}}
    <script src="/js/index.js"></script>
    <script>AP.sizeToParent();</script>
  </body>
</html>