<div id="main-table-panel">
  <p class="dropdown-text">Select issues by filter:
    <select id="dropdown-menu">
      <option class="dropdown-element" value="default">Default filter</option>
    </select>
  </p><br />
  <table id="main-table">
    <thead>
      <tr>
        <th>Test Task</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>